{{#connection_uris}}
DATABASE_URL="postgresql://{{connection_parameters.role}}:{{connection_parameters.password}}@{{connection_parameters.host}}:5432/{{connection_parameters.database}}?sslmode=require"
{{/connection_uris}}